<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 mb-6">
  <div
    *ngFor="let staff of staffOverviews"
    class="bg-white shadow-md rounded-2xl p-4"
  >
    <!--============HEADER===========-->
    <div class="flex justify-between items-center mb-2">
      <h3 class="text-2x1 font-semibold text-gray-600">{{ staff.title }}</h3>
      <svg
        class="w-5 h-5 text-gray-500"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          [attr.d]="staff.iconPath"
        />
      </svg>
    </div>

    <!--============DATA===========-->
    <div class="flex justify-between gap-6">
      <div class="text-3xl font-bold text-gray-900">{{ staff.value }}</div>
      <div class="text-x1 font-sans text-green-500 self-baseline">{{ staff.subtext }}</div>
    </div>
  </div>
</div>
