<div class="bg-white flex justify-between gap-2 rounded-xl shadow-md mb-6">
  <div class="flex justify-between space-x-4 p-2">
    <button class="border-2 pr-2 pl-2 p-1 rounded-xl">
      All Role
    </button>
    <button class="border-2 pr-2 pl-2 p-1 rounded-xl">
      Active
    </button>
    <button class="border-2 pr-2 pl-6 p-1 rounded-xl">
      All Experience
    </button>
  </div>
  <div class="flex items-center space-x-4 p-2">
    <div class="relative">
      <input
        type="text"
        placeholder="Search Staff..."
        class="border rounded-lg p-2 pl-10 pr-4 w-64 focus:outline-none focus:ring-2 focus:ring-gray-700"
      />
       <svg
          class="w-5 h-5 text-gray-400 absolute left-3 top-2.5"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
          />
        </svg>
    </div>
    <button class="bg-blue-100 text-black px-2 py-2 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">+ Add Staff</button>
  </div>
</div>
