<app-doctor-header></app-doctor-header>
<nav class="h-full flex flex-col bg-white shadow">
  <a routerLink="profile" routerLinkActive="bg-blue-100" class="p-4">Personal Profile</a>
  <a routerLink="consultant-meetings" routerLinkActive="bg-blue-100" class="p-4">Consultant Meetings</a>
  <a routerLink="patients" routerLinkActive="bg-blue-100" class="p-4">Patients</a>
  <a routerLink="blog-posts" routerLinkActive="bg-blue-100" class="p-4">Blog Posts</a>
  <a routerLink="slots" routerLinkActive="bg-blue-100" class="p-4">Slot Assignment</a>
  <a routerLink="appointments" routerLinkActive="bg-blue-100" class="p-4">My Appointments</a>
  <a routerLink="activity-logs" routerLinkActive="bg-blue-100" class="p-4">Activity Logs</a>
</nav>
