<!-- ================== WRAPPER ================== -->
<div
  class="min-h-screen flex items-center justify-center bg-cover bg-center"
  style="background-image: url('./loginBg.png')"
>
  <!-- ================== CARD ================== -->
  <div
    class="relative w-full max-w-sm mx-auto px-4 py-6 bg-white border border-gray-200 rounded-xl shadow-2xl backdrop-blur-lg"
  >
    <!-- ============= LOGO ============= -->
    <div class="flex flex-col items-center mb-4">
      <img src="./logoNgang.png" alt="GenderCare Logo" class="h-16 mb-2" />
    </div>

    <!-- ============= REGISTER FORM ============= -->
    <form
      #form="ngForm"
      (ngSubmit)="onRegister(form)"
      autocomplete="off"
      class="text-black"
    >
      <!-- ========== PHONE FIELD ========== -->
      <div
        class="control relative mb-6"
        [class.show-error]="(formSubmitted && phoneModel.invalid) || isUsed"
      >
        <input
          type="tel"
          class="peer w-full h-12 px-4 border border-gray-300 rounded-md outline-none text-base bg-transparent focus:border-[#4E6688]"
          id="phone"
          name="phone"
          ngModel
          required
          (ngModelChange)="onPhoneInput()"
          pattern="^0\d{9}$"
          autocomplete="off"
          #phoneModel="ngModel"
          placeholder=""
        />
        <label
          for="phone"
          class="absolute left-4 top-3 text-gray-500 pointer-events-none transition-all duration-200 peer-focus:-top-2 peer-focus:text-xs peer-focus:text-[#4E6688] peer-placeholder-shown:top-3 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:text-[#4E6688] bg-white px-1"
          >Phone</label
        >
        <!-- Lỗi phone -->
        @if ((phoneModel.touched && phoneModel.invalid) || (formSubmitted &&
        phoneModel.invalid) || isUsed ) { @if (phoneModel.errors?.['required']){
        <span
          class="absolute right-0 top-[-1.5rem] font-medium tracking-wide text-red-500 text-xs mt-1 ml-1 shake"
        >
          Phone Number is required!
        </span>
        } @else if ( phoneModel.errors?.['pattern']) {
        <span
          class="absolute right-0 top-[-1.5rem] font-medium tracking-wide text-red-500 text-xs mt-1 ml-1 shake"
        >
          Phone Number invalid
        </span>
        } @else if (isUsed) {
        <span
          class="absolute right-0 top-[-1.5rem] font-medium tracking-wide text-red-500 text-xs mt-1 ml-1 shake"
        >
          Phone Number has been used !
        </span>
        } }
      </div>
      <!-- ========== END PHONE FIELD ========== -->

      <!-- ========== PASSWORD FIELD ========== -->
      <div
        class="control relative mb-6"
        [class.show-error]="formSubmitted && passwordModel.invalid"
      >
        <input
          [type]="showPass ? 'text' : 'password'"
          class="peer w-full h-12 px-4 pr-12 border border-gray-300 rounded-md outline-none text-base bg-transparent focus:border-[#4E6688]"
          id="password"
          name="password"
          ngModel
          required
          minlength="6"
          autocomplete="off"
          #passwordModel="ngModel"
          placeholder=""
        />
        <label
          for="password"
          class="absolute left-4 top-3 text-gray-500 pointer-events-none transition-all duration-200 peer-focus:-top-2 peer-focus:text-xs peer-focus:text-[#4E6688] peer-placeholder-shown:top-3 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:text-[#4E6688] bg-white px-1"
          >Password</label
        >
        <!-- Toggle show/hide password -->
        <button
          type="button"
          (click)="showPass = !showPass"
          class="absolute top-1/2 right-4 -translate-y-1/2 p-0 m-0 bg-transparent border-none cursor-pointer flex items-center justify-center focus:outline-none"
          tabindex="-1"
          aria-label="Toggle password visibility"
        >
          @if (!showPass) {
          <img src="./visibility_off.png" alt="Show password" class="w-5 h-5" />
          } @if (showPass) {
          <img src="./visibility.png" alt="Hide password" class="w-5 h-5" />
          }
        </button>
        <!-- Lỗi password -->
        @if ((passwordModel.touched && passwordModel.invalid) || (formSubmitted
        && passwordModel.invalid)) { @if (passwordModel.errors?.['required']) {
        <span
          class="absolute right-0 top-[-1.5rem] font-medium tracking-wide text-red-500 text-xs mt-1 ml-1 shake"
        >
          Password is required!
        </span>
        } @else if (passwordModel.errors?.['minlength']) {
        <span
          class="absolute right-0 top-[-1.5rem] font-medium tracking-wide text-red-500 text-xs mt-1 ml-1 shake"
        >
          Password must be at least 6 characters!
        </span>
        } }
      </div>
      <!-- ========== END PASSWORD FIELD ========== -->

      <!-- ========== CONFIRM PASSWORD FIELD ========== -->
      <div
        class="control relative mb-6"
        [class.show-error]="
          (formSubmitted && confirmPasswordModel.invalid) ||
          passwordModel.value !== confirmPasswordModel.value
        "
      >
        <input
          [type]="showConfirmPass ? 'text' : 'password'"
          class="peer w-full h-12 px-4 pr-12 border border-gray-300 rounded-md outline-none text-base bg-transparent focus:border-[#4E6688]"
          id="confirmPassword"
          name="confirmPassword"
          ngModel
          required
          autocomplete="off"
          #confirmPasswordModel="ngModel"
          placeholder=""
        />
        <label
          for="confirmPassword"
          class="absolute left-4 top-3 text-gray-500 pointer-events-none transition-all duration-200 peer-focus:-top-2 peer-focus:text-xs peer-focus:text-[#4E6688] peer-placeholder-shown:top-3 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-500 peer-not-placeholder-shown:-top-2 peer-not-placeholder-shown:text-xs peer-not-placeholder-shown:text-[#4E6688] bg-white px-1"
          >Confirm Password</label
        >
        <!-- Toggle show/hide confirm password -->
        <button
          type="button"
          (click)="showConfirmPass = !showConfirmPass"
          class="absolute top-1/2 right-4 -translate-y-1/2 p-0 m-0 bg-transparent border-none cursor-pointer flex items-center justify-center focus:outline-none"
          tabindex="-1"
          aria-label="Toggle confirm password visibility"
        >
          @if (!showConfirmPass) {
          <img src="./visibility_off.png" alt="Show password" class="w-5 h-5" />
          } @if (showConfirmPass) {
          <img src="./visibility.png" alt="Hide password" class="w-5 h-5" />
          }
        </button>
        <!-- Lỗi confirm password -->
        @if ( ((confirmPasswordModel.touched || confirmPasswordModel.dirty ||
        formSubmitted) && confirmPasswordModel.invalid) ) {
        @if(confirmPasswordModel.errors?.['required']){
        <span
          class="absolute right-0 top-[-1.5rem] font-medium tracking-wide text-red-500 text-xs mt-1 ml-1 shake"
        >
          Confirm password is required!
        </span>
        } }
        <!-- Đúng: so sánh value của 2 input -->
        @else if ( (confirmPasswordModel.touched || confirmPasswordModel.dirty
        || formSubmitted) && (passwordModel.value !==
        confirmPasswordModel.value) ) {
        <span
          class="absolute right-0 top-[-1.5rem] font-medium tracking-wide text-red-500 text-xs mt-1 ml-1 shake"
        >
          Passwords do not match!
        </span>
        }
      </div>
      <!-- ========== END CONFIRM PASSWORD FIELD ========== -->

      <!-- ========== SUBMIT BUTTON ========== -->
      <button
        type="submit"
        [disabled]="isSubmitting"
        class="relative cursor-pointer w-full py-3 bg-[#4E6688] rounded-lg transition-all duration-100 active:scale-95 group overflow-hidden"
      >
        @if(isSubmitting){
        <div class="flex-col gap-4 w-full flex items-center justify-center">
          <div
            class="w-6 h-6 border-4 border-transparent text-blue-400 text-4xl animate-spin flex items-center justify-center border-t-blue-400 rounded-full"
          >
            <div
              class="w-5 h-5 border-4 border-transparent text-red-400 text-2xl animate-spin flex items-center justify-center border-t-red-400 rounded-full"
            ></div>
          </div>
        </div>
        }@else {
        <span class="text-white text-base font-semibold relative z-10">
          Register
        </span>
        }
        <div
          class="pointer-events-none absolute left-1/2 top-1/2 w-full h-full -translate-x-1/2 -translate-y-1/2 border-2 border-white rounded-lg transition-all duration-300 group-hover:scale-110 group-hover:border-[#FFD700] z-0"
        ></div>
      </button>

      <!-- ========== END SUBMIT BUTTON ========== -->
    </form>
    <!-- ============= END REGISTER FORM ============= -->
    <!-- ========== GOOGLE LOGIN BUTTON ========== -->
    <app-google />
    <!-- ========== END GOOGLE LOGIN BUTTON ========== -->

    <!-- ========== LINK TO LOGIN ========== -->
    <div class="flex justify-end mt-4 text-sm text-gray-700">
      <div class="mx-3">Already have an account?</div>
      <a href="/login" class="text-[#4E6688] font-semibold hover:underline"
        >Sign In</a
      >
    </div>
    <!-- ========== END LINK TO LOGIN ========== -->
  </div>
  <!-- ================== END CARD ================== -->
</div>
<!-- ================== END WRAPPER ================== -->
