<div class="relative w-full">
  <input
    class="w-full h-10 pl-3 pr-10 border border-blue-300 rounded-xl bg-blue-50 text-gray-800 placeholder:text-gray-500 outline-none focus:ring-2 focus:ring-blue-400 shadow transition-all"
    type="text"
    placeholder="Search"
    (focus)="openSearch()"
    #searchInput
  />
  <span
    class="absolute right-3 top-1/2 -translate-y-1/2 flex items-center pointer-events-none"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      class="w-5 h-5 text-blue-700"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
      />
    </svg>
  </span>
</div>
