<div class="bg-white shadow-xl rounded-xl p-4 border-2">
  <!-- Header -->
  <div class="flex justify-between items-center border-b-2 p-3">
    <h3 class="text-lg font-semibold text-gray-700">Recent Activity</h3>
    <svg
      class="w-5 h-5 text-gray-500"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M6 18L18 6M6 6l12 12"
      />
    </svg>
  </div>
  <!-- Activity List -->
  <ul class="p-2">
    <li *ngFor="let activity of activities" class="flex items-start p-1 border-b-2">
      <svg
        class="flex justify-between items-center w-6 h-6 m-2"
        [ngClass]="
          activity.type === 'error' ? 'text-red-500' : 'text-green-500'
        "
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          [attr.d]="activity.iconPath"
        />
      </svg>
      <div>
        <p class="text-sm font-medium text-gray-800">{{ activity.title }}</p>
        <p class="text-sm text-gray-500">{{ activity.description }}</p>
      </div>
    </li>
  </ul>
</div>
