<div class="mb-4">
  <p class="px-1 py-2">Key Performance Indicators</p>
  <div class="flex justify-between w-full max-w-full space-x-1.5">
    <div class="flex flex-col items-start bg-white border rounded-2xl p-4 w-1/4">
      <p class="text-sm">Appointments</p>
      <p class="text-2xl font-bold">{{ appointments }}</p>
    </div>

    <div class="flex flex-col items-start bg-white border rounded-2xl p-4 w-1/4">
      <p class="text-sm">New Patients</p>
      <p class="text-2xl font-bold">{{ newPatients }}</p>
    </div>

    <div class="flex flex-col items-start bg-white border rounded-2xl p-4 w-1/4">
      <p class="text-sm">Revenue</p>
      <p class="text-2xl font-bold">${{ revenue }}</p>
    </div>

    <div class="flex flex-col items-start bg-white border rounded-2xl p-4 w-1/4">
      <p class="text-sm">Task Completion</p>
      <p class="text-2xl font-bold">{{ taskCompletion }}%</p>
    </div>
  </div>
</div>
